@keyframes gradient {
    0% {
        background-color: #e66465;
    }

    50% {
        background-color: #9198e5;
    }

    100% {
        background-color: #e66465;
    }
}

main,
header {
    >* {
        z-index: 100;
    }
}

header {
    width: 100%;
}

.about-me {
    main > div {
        margin-top: 100px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url('/images/about-me.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
    }

    &::before {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(15, 23, 42, .7);
        z-index: 2;
    }

    &__box {
        display: none;

        &--active {
            display: block;

            h2 {
                color: #FF8383;
            }
        }
    }

    &__selection-item {
        &--active {
            background-color: rgba(#FF8383, .9);

            h2 {
                transform: rotate(0);
            }
        }

        h2 {
            transition: transform .8s ease-in-out;
        }

        &:hover:not(.about-me__selection-item--active) {
            background-color: rgba(#FF8383, .5);

            h2 {
                transform: rotate(0);
            }
        }
    }
}