---
import Layout from "@layouts/Layout.astro";
import "@styles/app.scss";
---

<Layout title="Sven Ahrens - Portfolio" id="home">
	<main class="text-white flex flex-col justify-center h-full">
		<div class="p-6 md:px-32">
			<h1 class="text-7xl md:text-9xl font-bold">
				Sven <br /> Ahrens
			</h1>
			<p class="mt-3 text-lg md:text-2xl text-slate-500">
				Hey 👋 <br />
				I'm a full-stack developer from Germany. <br />
				I'd like to welcome you to my portfolio.
			</p>
		</div>
	</main>
</Layout>
