---
export interface Props {
	title: string;
	id: string;
}

const { title, id } = Astro.props;
const pagePathname = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={`${id} bg-slate-900 h-screen relative`}>
		<header
			class="text-white p-6 md:px-32 flex justify-between absolute top-0 left-0 md:flex-row flex-col"
		>
			<div class="flex flex-col md:flex-row">
				<a
					class={`${
						pagePathname === "/"
							? "underline decoration-orange-600 font-bold"
							: ""
					} mr-2 text-lg`}
					href="/"
				>
					Home
				</a>
				<a
					class={`${
						pagePathname === "/about-me"
							? "underline decoration-orange-600 font-bold"
							: ""
					} mr-2 text-lg`}
					href="/about-me"
				>
					About me
				</a>
				<a
					class={`${
						pagePathname === "/chatgpt"
							? "underline decoration-orange-600 font-bold"
							: ""
					} mr-2 text-lg`}
					href="/chatgpt"
				>
					..or ask ChatGPT
				</a>
			</div>
			<a class="text-lg mt-6 md:mt-0" href="mailto:hello@svenahrens.me">
				hello@svenahrens.me
			</a>
		</header>
		<slot />
	</body>
</html>
